## Задание по программированию: Предобработка данных в Pandas

In [1]:
import pandas

In [2]:
data = pandas.read_csv('data/titanic.csv', index_col='PassengerId')

1) Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [3]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

2) Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [4]:
data['Survived'].value_counts()[1]/data.shape[0] * 100

38.383838383838381

3) Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [5]:
data['Pclass'].value_counts()[1]/data.shape[0] * 100

24.242424242424242

4) Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [6]:
data['Age'].median()

28.0

5) Коррелируют ли число братьев/сестер с числом родителей/детей?Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [7]:
data['Parch'].corr(data['SibSp'])

0.41483769862015668

6) Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [8]:
def clean(name):
    name = name.split(',')[1][1:].split(' ')
    if ((name[0] == 'Miss.') | (name[0] == 'Ms') ):
        return name[1]

In [9]:
data['Name'].map(clean).value_counts().head()

Anna         9
Mary         9
Margaret     6
Elizabeth    5
Bertha       4
Name: Name, dtype: int64